
*{
    font-family: "Helvetica Neue",Arial,sans-serif;
    text-transform: uppercase;
    /* font-style: italic; */
    letter-spacing: .07em;
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    overflow-x :hidden;
}

.container-fluid{
    padding: 0;
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.main{
    width: 100%;
    min-height: 100vh;
}

.navbar{
    height: 12vh;
}

.navbar > div{
    width: 50%;
    height: 100%;
}

.brandLogo{
    height: 100%;
}

/* .mobile-number{
    display: none;
    margin: 0 1rem;
    color: #ff3131;
    font-weight: 800;
    cursor: pointer;
} */

/* .call-icon{
    height: 45%;
    cursor: pointer;
} */

.list-group{
    width: 77% !important;
}

.list-group-item{
    font-size: 13px;
    border-radius: .3rem;
    padding: 0.35rem 1.25rem;
    font-weight: 700;
    text-align: center;
    background-color: #ef595a;
    color: #fff;
}

.list-group-item:hover{
    background-color: #000;
    color: #fff;
}

#shogunMenu{
    display: none;
}

.shogun-banner{
    height: 88vh;
}

#websiteBanner{
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    display: block;
}
#mobileBanner{
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    display: none;
}

#mobileQuickLinks{
    width: 13rem !important;
    display: none;
    position: absolute;
    right: 0.3rem;
    height: 11rem;
    justify-content: space-between;
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 0.3rem;
    box-shadow: 0 0 7px 1px #000;
    z-index: 9;
}

.goToTop{
    /* position: absolute; */
    display: none;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    cursor: pointer;
}
.goToTop > img{
    width: 5rem;
    height: 5rem;
    border-radius: 4rem;
    object-fit: cover;
}
#topArrowIcon{
    display: block;
}
#kushboo{
    display: none;
}

/* Custom Bootstrap */
.btn:focus {
    box-shadow: 0 0 0 0.2rem rgb(255 0 0 / 25%);
}

.modal-title {
    font-size: 1.5rem;
    font-weight: 700;
}


/* Responsiveness */
@media only screen and (max-width: 768px){
    #shogunWebMenu{
        display: none;
    }
    #shogunMenu{
        display: block;
    }
    #navbarAndBanner{
        min-height: auto;
    }
    .shogun-banner {
        height: auto;
    }
    #websiteBanner{
        display: none !important;
    }
    #mobileBanner{
        display: block !important;
    }

    #about-us{
        padding-top: 1rem;
        flex-direction: column;
    }
    #about-us > div {
        width: 100% !important;
    }
    .about-right > div > h1{
        text-align: center;
        padding: 0 !important;
    }
    .about-right > div:first-child{
        margin-top: 1rem;
    }
    .about-right > div:first-child > h1{
        font-size: 22px;
    }
    .about-right > div:last-child{
        padding: 1rem;
    }
    .check {
        width: 1rem !important;
        height: 1rem !important;
    }
    .check > img{
        width: .8rem !important;
    }
    .about-cards {
        flex-direction: column;
        align-items: start !important;
        font-size: 1rem;
    }
    .about-right-two-1 > div > h6{
        font-size: 14px;
    }
    .about-right-two-2 > div > h6{
        font-size: 14px;
    }
    #ourProgramsBtn{
        text-align: center;
    }

    #programs{
        padding-top: 2rem;
    }
    #programs > div:first-child > h1{
        font-size: 20px;
    }
    #programs > div:first-child{
        padding-bottom: 1rem;
    }
    #programs > div:last-child{
        flex-direction: column;
        align-items: center;
    }
    .card{
        width: auto !important;
        margin: 1rem;
        margin-bottom: 1rem;
    }

    #gallery{
        padding: 0.5rem !important;
        margin-bottom: 0 !important;
    }
    #gallery-items > div{
        width: 100% !important;
    }

    #footer{
        justify-content: space-between !important;
    }
    .addresses{
        flex-direction: column;
        align-items: start;
    }
    #kondapurDiv, #manikondaDiv{
        flex-direction: column;
        margin-bottom: 2rem;
        /* align-items: start; */
    }
    #kondapurDiv > .kondapur{
        margin-left: 0 !important;
    }
    #manikondaDiv > .manikonda{
        margin-left: 0 !important;
    }
    .emailAndMobile{
        width: 100%;
        padding-left: 1rem;
    }
    #webContactInfo{
        display: none !important;
    }
    #mobileContactInfo{
        display: block !important;
    }
    .socialLinks{
        align-items: center !important;
    }
    .copyrights{
        padding: 2rem;
    }
    .alert-danger > div {
        width: 60% !important;
    }
    .alert-danger:after{
        content: none !important;
        animation: none !important;
    }

    .goToTop > img {
        width: 3rem;
        height: 3rem;
    }
}